* {
    font-family: monospace;
}
nav {
    font-size: 1.8em;
}
nav ul {
    background-color: rgb(32, 46, 68, .8);
    padding: 8px;
}
nav ul li {
    display: inline;
}
nav li a {
    padding: 8px;
    color: white;
    text-decoration: none;
}
.home a.home, .test-index a.test-index, .general-information a.general-information, .my-mods a.my-mods {
    background-color: rgb(32, 46, 68, 1);
}
h1 {
    text-align: center;
    margin-left: calc(100vw - 100%);
}
h2 {
    background-color: rgba(45.82, 79.92, 143.51,0.2);
    padding: 2px;
    font-size: 1.6em;
}
h3 {
    background-color: rgba(45.82, 79.92, 143.51,0.1);
    font-size: 1.4em;
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1.1em;
}
p {
    width: 66.6%;
    font-size: 1.1em;
    display: inline-block;
}
table {
    text-align: center;
    align-content: center;
    display: inline-block;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

td {
    font-size: 1.1em;
}
li {
    font-size: 1.1em;
    padding: 3px;
    width: 75%
}
footer p:target {
    background-color: rgba(45.82, 79.92, 143.51,0.1)
}
code {
    border: 1px;
    border-radius: 3px;
    padding: 1px;
    background-color: #E8E8E8;
    font-size: 1.05em;
    -webkit-user-select: all;  /* Chrome all / Safari all */
    -moz-user-select: all;     /* Firefox all */
    -ms-user-select: all;      /* IE 10+ */
    user-select: all;          /* Likely future */
}
sup a {
    color: blue;
    font-style: oblique;
}
img {
    width: 66.6%;
}
figure {
    font-size: 1.1em;
}

footer {
    padding: 10px;
}
